body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(89deg, #FF5EDF 0%, #0468DE 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
